# ignore hidden files
.*

# except .gitignore file & .gitattributes
!.gitignore
!.gitattributes

# ingore builds & instal folders
_*
cmake-build*

# ingore all executable files
*.out

# ignore input & output files
data/output/
output/*_HE/

# ignore some other files
Document
mpi_hello.c
omp_hello.c
.Rproj.user
*.html
*.ipynb

